/* -------------------------------

------------------------------- */


/* -------------------------------
               font
------------------------------- */
* {
    font-family: 'Berkshire Swash', cursive;
    font-family: 'Epilogue', sans-serif;
    margin: 0;
    padding: 0;
}

/* -------------------------------
        BODY MEASUREMENT
------------------------------- */

body {
    margin: 0;
    width: 100%;
    /* position: absolute; */
}

/* -------------------------------
        CONTAINER
------------------------------- */

.container {
    max-width: 1344px;
    margin: auto;
}


/* -------------------------------
            NAVIGTION
------------------------------- */


header {

    top: 0px;
    height: 970px;
    /* background-color: rgb(255, 255, 255); */
    /* box-shadow: 0 2px 20px rgb(210, 210, 210); */
    position: relative;
}

.content {
    /* position: absolute; */
    top: 0;
    width: 100%;
}

.content hr {
    border: 0.2px solid rgb(240, 239, 239);
    margin: 0;
    margin-bottom: 82px;

}

.content_2 {
    display: flex;
    height: 100%;
    position: absolute;
    top: 0;
    left: 41px;
}


.diagonal {
    border: 0.2px solid rgb(240, 239, 239);
    margin: 0px;
    margin: 0 41px;
    /* margin-bottom: 30px; */
}

.ninety_deg {
    border: 0.2px solid rgb(240, 239, 239);
    margin: 0px;
    margin: 0 41px;
    /* rotate: 90deg; */
}

#container {
    display: flex;
    justify-content: center;

}

.Mcontainer_nav {
    position: absolute;
    top: 20px;
    width: 100%;

}

.nav_container {

    margin: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.nav_container img {
    height: 50px;
}

.center_nav {
    width: 300px;
}

.center_nav ul {
    display: flex;
    justify-content: space-evenly;
    color: white;
    /* border: 1px solid black; */
}

.center_nav li {
    list-style: none;
    height: fit-content;

}



.center_nav a {
    text-decoration: none;
    color: rgb(63, 63, 63);
    margin: 0 5px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30px;


}


.center_nav p {
    width: fit-content;
    height: fit-content;
}

.line {
    margin-top: 4px;
    width: 27px;
    background-color: rgb(70 183 81);
    height: 4.5px;
    display: none;

}

.center_nav a:hover .line {
    display: block;
}

.center_nav a:hover {
    color: rgb(70 183 81);
}






/* -------------------------------
 NAVIGATION >> Hire__us (Animation) 
------------------------------- */


@keyframes slide_hireUs {
    100% {
        transform: translateX(-70%);
    }
}

.bg_hireUs {
    width: 140px;
    height: 37px;
    position: relative;
    /* right: 0px; */
    background-color: rgb(224, 244, 224);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    overflow: hidden;
    /* display: none; */
}

.hire-us {
    width: 190px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 25%;
    animation: slide_hireUs 4s linear infinite normal;
    animation-play-state: running;
    white-space: nowrap;
}

.hire-us {
    /* font-size: 20px; */
    color: rgb(70 183 81);
}

.hire-us .fa-solid {
    padding: 0 20px;
    font-size: 10px;
}

.hire-us p:nth-child(1) {
    padding: 0 20px 0 0;
}



/* -------------------------------
            MAIN >> HOME
------------------------------- */

/* -------------------------------
           Article-1
------------------------------- */
/* main {

    margin-top: 100px;
} */

.make_container {
    position: absolute;
    top: 100px;
    /* border: 3px solid red; */
    margin: 0;
    margin: 0 auto;
    width: 100%;
}

.we_make_container {
    /* margin: 20px; */
    /* background-image: url("Images/background/Bck-3.png"); */
    background-position: center;
    background-size: cover;
    margin-top: 30px;
    padding: 100px 0 60px 0;
    height: fit-content;
}

.we_make {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: center;
}

.together {
    color: rgb(253 97 59);
    font-size: 22.5px;
}

#running_business {
    font-size: 6rem;
    line-height: 120px;

}


/* -------------------------------
    MAIN >> HOME >> TEXTING_EFFECT
------------------------------- */


@keyframes efficient {


    0% {
        left: 25%;
    }

    20% {
        left: 0%;

    }

    40% {
        left: 0%;
    }

    50% {
        left: 0%;
    }

    60% {
        left: 0%;
    }

    80% {
        left: 0%;
    }

    100% {
        left: 25%;
    }

}

@keyframes efficient_after {

    0% {
        left: 24.5%;
        border-left: 10px solid rgb(244, 244, 244);
    }

    20% {
        left: 70%;
        width: 300px;
        border-left: 10px solid rgb(70 183 81);
    }

    40% {
        left: 70%;
        width: 300px;
        border-left: 10px solid rgb(244, 244, 244);
    }

    50% {
        left: 70%;
        width: 300px;
        border-left: 10px solid rgb(70 183 81);
    }

    60% {
        left: 70%;
        width: 300px;
        border-left: 10px solid rgb(244, 244, 244);
    }

    80% {
        left: 70%;
        width: 300px;
        border-left: 10px solid rgb(70 183 81);
    }

    100% {

        left: 24.5%;
        border-left: 10px solid rgb(244, 244, 244);

    }
}

@keyframes easier {



    0% {
        left: 19.5%;
    }

    20% {
        left: 0%;

    }

    40% {
        left: 0%;
    }

    50% {
        left: 0%;
    }

    60% {
        left: 0%;
    }

    80% {
        left: 0%;
    }

    100% {
        left: 19.5%;
    }

}

@keyframes easier_after {
    0% {
        left: 30%;
        border-left: 10px solid rgb(244, 244, 244);
    }

    20% {
        left: 64%;
        width: 300px;
        border-left: 10px solid rgb(70 183 81);
    }

    40% {
        left: 64%;
        width: 300px;
        border-left: 10px solid rgb(244, 244, 244);
    }

    50% {
        left: 64%;
        width: 300px;
        border-left: 10px solid rgb(70 183 81);
    }

    60% {
        left: 64%;
        width: 300px;
        border-left: 10px solid rgb(244, 244, 244);
    }

    80% {
        left: 64%;
        width: 300px;
        border-left: 10px solid rgb(70 183 81);
    }


    100% {

        left: 30%;
        border-left: 10px solid rgb(244, 244, 244);

    }
}


@keyframes simpler {


    0% {
        left: 23%;
    }

    20% {
        left: 0%;
    }

    40% {
        left: 0%;
    }

    50% {
        left: 0%;
    }

    60% {
        left: 0%;
    }

    80% {
        left: 0%;
    }

    100% {
        left: 23%;
    }
}

@keyframes simpler_after {
    0% {
        left: 26.5%;
        border-left: 10px solid rgb(244, 244, 244);
    }

    20% {
        left: 68%;
        width: 300px;
        border-left: 10px solid rgb(70 183 81);
    }

    40% {
        left: 68%;
        width: 300px;
        border-left: 10px solid rgb(244, 244, 244);
    }

    50% {
        left: 68%;
        width: 300px;
        border-left: 10px solid rgb(70 183 81);
    }

    60% {
        left: 68%;
        width: 300px;
        border-left: 10px solid rgb(244, 244, 244);
    }

    80% {
        left: 68%;
        width: 300px;
        border-left: 10px solid rgb(70 183 81);
    }

    100% {

        left: 26.5%;
        border-left: 10px solid rgb(244, 244, 244);

    }
}



@keyframes slide_typing {

    0% {
        top: -0px;
    }

    100% {
        top: -210px;
    }

}


.typing_animation {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */
    height: 70px;
    overflow: hidden;
    /* position: inherit; */
}


.typing_animation_container {

    position: relative;
    /* top: 0px; */
    animation: slide_typing 9s steps(3) infinite;
}


.typing {

    width: 900px;
    display: flex;
    justify-content: center;
    font-size: 5rem;
    font-weight: 900;
    color: rgb(70 183 81);
    position: relative;
    padding-top: 3px;

}



.EFFICIENT {
    position: relative;
    left: 21%;
    animation: efficient 3s steps(11) infinite;
}


.EFFICIENT:after {
    content: "";
    height: 90px;
    width: 407px;
    /* left: 68%; */
    position: absolute;
    left: 28.5%;
    background-color: rgb(255, 255, 255);
    border-left: 10px solid rgb(70 183 81);
    animation: efficient_after 3s steps(11) infinite alternate;
}

.EASIER {
    position: relative;
    left: 15.5%;
    animation: easier 3s steps(11) infinite alternate;
}

.EASIER:after {
    content: "";
    height: 70px;
    width: 350px;
    left: 63%;
    position: absolute;
    top: 0;
    left: 34%;
    background-color: rgb(255, 255, 255);
    border-left: 10px solid rgb(70 183 81);
    animation: easier_after 3s steps(11) infinite alternate;
}

.SIMPLER {
    position: relative;
    left: 19%;
    animation: simpler 3s steps(11) infinite alternate;
}

.SIMPLER:after {
    content: "";
    height: 70px;
    width: 370px;
    left: 66%;
    position: absolute;
    left: 30.5%;
    top: 0;
    background-color: rgb(255, 255, 255);
    border-left: 10px solid rgb(70 183 81);
    animation: simpler_after 3s steps(11) infinite alternate;
}


/* -------------------------------
            WHEEL
------------------------------- */



@keyframes rotate {
    100% {
        rotate: 360deg;
    }
}

.lets_talk {

    height: 100px;
    width: 100%;
    /* border: 2px solid red; */
    margin-top: 70px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* position: relative; */
}

.lets_talk img {
    width: 130px;
    animation: rotate 17s linear infinite;
    position: absolute;
}

.fa-arrow-right {
    /* position: absolute; */
    rotate: -30deg;
    font-size: 30px;
}




/* -------------------------------
           Work For
------------------------------- */

@keyframes slide {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-1000px);
    }
}

.requirement {
    width: 100%;
}

.req {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.solid_field {
    height: 60px;
    width: 100%;
    position: absolute;
    background-color: rgb(70 183 81);
    rotate: 1.25deg;
}

.text_field {
    height: 60px;
    width: 100%;
    background-color: rgb(37 37 37);
    position: absolute;
    rotate: -1.25deg;
    display: flex;
    align-items: center;
}

.text-content {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    animation: slide 20s linear infinite;
    animation-play-state: running;
    right: 0;
}

.fa-clover {
    padding: 0 50px;
    color: rgb(70 183 81);
}


/* -------------------------------
           Article-2
------------------------------- */

/* -------------------------------
            Who We Are
------------------------------- */

.who_we_are {
    padding: 0 20px;
    margin-top: 150px;
    display: grid;
    grid-template-columns: 68% 29%;
    justify-content: space-between;
    /* border: 1px solid red; */
}


.des_we_are h1 {
    font-size: 4rem;
    margin-left: 20px;
}

.des_we_are hr {
    border: 2px solid rgb(70 183 81);
    width: 30px;
    height: 0px;
}


.des_we_are {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    /* border: 1px solid red; */
}

.who_we_are p {
    color: rgb(79, 79, 79, 1);
    margin-bottom: 20px;
    line-height: 1.8;
}

.who_we_are img {
    width: 100%;
}



.count_container hr {
    border: 1px solid rgb(240, 239, 239);
}

.count {

    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid rebeccapurple; */
}

.count div {
    display: flex;
}

.count h1 {
    color: rgb(70 183 81);
    font-size: 3rem;
    padding: 5px;
}

.count p {
    line-height: 1.5;
    padding: 5px;
}

.img_vision {
    position: relative;
}

.our_vision {
    padding: 20px;
    background-color: white;
    position: absolute;
    bottom: 0px;
    right: 0;
}

.hr_back {
    height: 120px;
}

.hr_back_nDeg {
    width: 100%;
    position: relative;
    /* border: 1px solid rebeccapurple; */
}

#hr_back_nDeg_up {
    top: 20px;
}

#hr_back_nDeg_down {
    bottom: 20px;
}

#hr_back_left {
    position: relative;
    left: 20px;
}

#hr_back_right {
    position: relative;
    right: 20px;
}



.our_vision>h1 {
    font-size: 2.5rem;
    color: rgb(253 97 59);
}

.our_vision>h4 {
    font-weight: 400;
    color: rgb(79, 79, 79, 1);
}


/* -------------------------------
           brand
------------------------------- */


.brand {
    margin-top: 100px;
    width: 100%;
    height: 350px;
    background-color: rgb(250 250 250);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 150px;
}

.brand_text {
    display: flex;
    align-items: center;
}

.brand_text hr {
    border: 2px solid rgb(70 183 81);
    width: 30px;
    height: 0px;
    margin-right: 20px;
}

.brand_img {

    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    /* border: 2px solid red; */
    width: 100%;
}

.brand_img img {
    height: 75%;
    width: 9%;
    /* border: 1px solid red; */
}

#spe_img {
    height: 100%;
    width: 9%;
}


/* -------------------------------
           Provided Service
------------------------------- */

.Provided_Services {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    height: 300px;

    /* border: 1px solid red; */
}

.Provided_Services_text {
    /* border: 1px solid red; */
    width: 65%;
}

.Provided_Services_text>div {
    display: flex;
}


.Provided_Services_text h1 {
    font-size: 3.5rem;
    margin-bottom: 25px;
}

.Provided_Services_text p {
    font-size: 1rem;
    line-height: 1.8;
    color: rgb(79, 79, 79, 1);
}

.Provided_Services_text hr {
    border: 2px solid rgb(70 183 81);
    width: 50px;
    height: 0px;
    margin-right: 20px;
    margin-top: 20px;
}

.service_arrow {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /* border: 1px solid red; */
    height: 300px;
    width: 20%;

}

.service_arrow i {
    width: 30px;
    height: 30px;
    border: 2px solid rgb(71, 71, 71);
    border-radius: 100%;
    padding: 9px 9px;
    rotate: -3deg;
    color: rgb(84, 84, 84);
}

.service_arrow i:hover {
    color: rgb(70 183 81);
    border: 2px solid rgb(70 183 81);
}

#reverse {
    rotate: -180deg;
    margin-right: 20px;
}



/* -------------------------------
          ui/ux
------------------------------- */

.ui_ux {
    display: flex;
    margin: 0 40px;
    height: 350px;
    margin-bottom: 150px;
    margin-top: 50px;
}

.ui_ux div {
    padding: 40px 40px 0px 40px;
    width: 100%;
    border-right: 3px solid rgb(240, 239, 239);
}

.ui_ux h1 {
    padding-bottom: 20px;
}

.ui_ux ul {
    width: 100%;
    list-style: none;
    font-size: 500;
    color: rgba(79, 79, 79, 0.903);
}

.ui_ux li {
    margin-bottom: 18px;
}

.ui_ux div:hover h1 {
    color: rgb(70 183 81);
}

.ui_ux div:hover {
    background-color: rgba(240, 239, 239, 0.615);
    border-right: 3px solid rgb(40, 134, 50);
}


/* -------------------------------
      Selected Works  
------------------------------- */

.selected_work {
    margin-bottom: 150px;
    margin-left: 20px;
    margin-right: 20px;

}


.selected_work_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.selected_work_heading {
    display: flex;
    align-items: center;
}

.selected_work_heading h1 {
    font-size: 4rem;
    padding-left: 20px;
}

.selected_work_heading hr {
    border: 2px solid rgb(70 183 81);
    width: 30px;
    height: 0px;
}

.selected_work_inner {
    display: flex;
    justify-content: space-between;
}

.selected_work_inner_card {
    /* border: 0px solid rgb(70 183 81);
    background-color: rgb(70 183 81); */
    border: 0px solid white;
    background-color: white;
    height: 420px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 2px;
    transition: background-color 1s, color 0s;
    box-shadow: 0 2px 20px rgb(210, 210, 210);
}

.selected_work_inner img {
    border-radius: 5px;
}



.selected_work_inner_card>div {
    padding: 30px;
}

.selected_work_inner_card>div p {
    color: rgb(70 183 81);
}

.selected_work_inner_card:hover {
    border: 0px solid rgb(70 183 81);
    background-color: rgb(70 183 81);
    color: white;
}

.selected_work_inner_card:hover p {
    color: white;
}






/* -------------------------------
      Exceptional  
------------------------------- */

.exceptional_content {
    height: 700px;
    background-color: rgb(237 248 238);
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.exceptional_hire {
    /* color: white; */
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;
}

.exceptional_talent {
    display: flex;
    justify-content: center;
    position: relative;
    top: 355px;
}

.exceptional h1 {
    font-family: sans-serif;
    font-size: 6rem;
    letter-spacing: 2px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: green;
    -webkit-text-stroke-width: 1px;
}

.exceptional_container {
    height: 400px;
    background-image: linear-gradient(to left, #40a74ae5, #14b8a5ce);
    margin: 0 20px;
    border-radius: 7px;
    position: relative;
    top: -120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exceptional_container_content {
    display: flex;
    height: 250px;
    width: 87%;

    /* border: 1px solid red; */
}

.exceptional_content_1 {
    /* border: 1px solid rgb(81, 15, 15); */
    width: 60%;
    height: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;

}

.exceptional_content_1>h2 {
    font-size: 3em;
    color: white;
}

.exceptional_content_2 {
    width: 40%;
    /* border: 2px solid darkgoldenrod; */
    height: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}

.exceptional_content_2 p {
    font-size: 1.1rem;
    line-height: 1.4;
    color: white;
    margin-bottom: 20px;
}


.exceptional_content_2_button {
    height: 70px;
    width: 280px;
    background-color: rgb(253 97 59/1);
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.exceptional_content_2_button a {
    color: white;
}

.exceptional_content_2_button:hover {
    background-color: rgb(255, 120, 86);
}


/* -------------------------------
           Contact Us
------------------------------- */


.contact_us {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

#contact_us_talk h2 {
    font-size: 3.5em;
    font-weight: 500;
    color: rgb(79 79 79/1);
    letter-spacing: -1px;
    padding: 30px;
}


#contact_us_mail h1 {
    font-size: 5rem;
    background-image: linear-gradient(to left, #40a74ae5, #14b8a5ce);
    ;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#contact_us_mail hr {
    border: none;
    height: 2px;
    position: relative;
    top: -10px;
    margin-bottom: 40px;
    background-image: linear-gradient(to left, #40a74ae5, #14b8a5ce);
}

#contact_us_query p {
    font-weight: 500;
    font-size: 1.2rem;
    color: rgba(79, 79, 79, 0.866);
    margin-bottom: 40px;
}

.contact_us_button {
    height: 70px;
    width: 200px;
    background-color: rgb(253 97 59/1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


.contact_us_button:hover {
    background-color: rgb(255, 120, 86);
}



/* -------------------------------
           footer
------------------------------- */


footer {
    height: 700px;
    /* border: 1px solid red; */
    width: 100%;
    background-color: rgb(240, 239, 239);
}

.footer_container {
    height: 600px;
    background-color: white;
}

.footer_background {
    height: 100%;
}


.hr_horizontal {
    position: relative;
    top: 100px;
}

.hr_horizontal hr {
    margin-top: 82px;
    /* border: 0.2px solid rgb(240, 239, 239) */
    height: 1px;
    background-color: rgb(240, 239, 239);
    border: none;
}

.hr_vertical {
    position: relative;
    /* rotate: 90deg; */
    display: flex;
    height: 550px;
    /* height: 100%; */
    right: 41px;
    top: -480px;
    /* overflow: hidden; */


}

.hr_vertical hr {
    /* rotate: 90deg; */
    margin-right: 82px;
    overflow: hidden;
    border: 0.2px solid rgb(240, 239, 239);


}


.requirement_footer {
    position: relative;
    top: -620px;
    /* display: none; */
}

.info {
    margin: 0 20px;
    position: relative;
    top: -550px;
}

.info h1 {
    font-size: 25px;
}

#info_together {
    font-weight: 700;
    font-size: 20px;
}

.info>div {
    display: grid;
    grid-template-columns: 28% 50% 22%;
    justify-content: space-between;

    /* border: 1px solid red; */
}

.info_heading {
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 30px;
}

#tab_des {
    font-weight: 400;
}

#tab_des>span {
    font-weight: 700;
    color: rgb(253 97 59/1);
}

.info_mid {
    padding-left: 50px;
}

.info_2nd_row {
    margin-bottom: 15px;
    color: rgb(79 79 79/1);
}

.description_info {
    line-height: 1.8;
    color: rgb(79 79 79/1);
}

.info_bold_text {
    font-weight: 600;
}

.info i {
    color: #40a74ae5;
    font-size: 22px;
    margin-right: 8px;
}

.info_contact:hover {
    color: #40a74ae5;
}

.info_hover {
    transition: margin-left .2s linear;
}

.info_hover:hover {
    margin-left: 10px;
}


.links {
    position: relative;
    top: -530px;
}

.links>a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links i {
    padding: 20px;
    font-size: 40px;
    color: rgb(200, 199, 199);
}

.links i:hover {
    color: #40a74ae5;
}

.copyright {
    display: flex;
    justify-content: center;
    font-weight: 500;
    position: relative;
    top: -480px;
}